<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script th:src="@{/js/effect.js}"></script>

    <title>Web page</title>
</head>
<body onload="ajax()">

<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#first">First</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#second">Second</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#third">Third</a>
                    </li>
                </ul>
                <a class="nav-link active login-link" th:href="@{/login}">Login</a>
            </div>
        </div>
    </nav>


    <div class="video-with-centered-text">


        <video muted autoplay loop preload="auto">
            <source th:src="@{${videoPath}}">
        </video>


        <div class="h1">Welcome</div>


    </div>

</header>

<section id="first">
    <div class="picture-with-centered-text">
        <img class="picture-1-user" src="../static/files/images/1.jpg" th:src="@{${imagePathA}}" alt="Mountains">
        <a th:href="@{/page-a}">Look at those mountains!</a>
    </div>
</section>


<section id="second">
    <div class="picture-with-centered-text">
        <img class="picture" src="../static/files/images/2.jpg" th:src="@{${imagePathB}}" alt="Wheat field">
        <a th:href="@{/page-b}">Looking for a place to hide?</a>
    </div>
</section>


<section id="third">
    <div class="container h-200">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                        <form id="form" th:action="@{/add-worker}" th:object="${worker}"  method="post">

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example1cg">Name</label>
                                <input type="text" th:field="*{username}" onInput=usernameValidation() name="Name" id="form3Example1cg"
                                       class="form-control form-control-lg"/>
                                <p id="username-hint">&#8203;</p>
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error </p>
                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3cg">Email</label>
                                <input type="text" th:field="*{email}" onInput=emailValidation() name="Email"
                                       id="form3Example3cg"
                                       class="form-control form-control-lg"/>
                                <p id="email-hint">&#8203;</p>
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error </p>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cg">Password</label>
                                <input type="password" th:field="*{password}" onInput=passwordValidation() name="Pass" id="form3Example4cg"
                                       class="form-control form-control-lg"/>
                                <p id="password-hint">&#8203;</p>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error </p>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cdg">Confirm password</label>
                                <input type="password" onInput=repPasswordValidation() name="rep" id="form3Example4cdg"
                                       class="form-control form-control-lg"/>
                                <p id="rep-password-hint">&#8203;</p>
                            </div>

                            <div class="flex-columns">
                                <div class="column">
                                    <ul>
                                        <li id="lowerCase">One lowercase character</li>
                                        <li id="upperCase">One uppercase character</li>
                                        <li id="oneNumber">One number</li>
                                    </ul>
                                </div>
                                <div class="column">
                                    <ul>
                                        <li id="specialCharacter">One special character</li>
                                        <li id="range">12 characters minimum</li>
                                    </ul>
                                </div>
                            </div>


                            <div class="d-flex justify-content-center">
                                <button class="btn btn-outline-primary btn-lg px-5" id="submitButton" type="submit"
                                        value="Submit">Create
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="footer">
        <span class="sites">
            <span><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img
                    src="https://img.icons8.com/ios-filled/50/000000/facebook--v1.png" alt="ios"/></a></span>
            <span><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img
                    src="https://img.icons8.com/sf-regular/48/000000/instagram-new.png" alt="instagram"/></a></span>
            <span><a href="https://sk.linkedin.com/" target="_blank" rel="noopener noreferrer"><img
                    src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="linkedin"/></a></span>
        </span>
    </div>
</footer>


<script th:src="@{/js/validate.js}"></script>
</body>
</html>