<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <title>User</title>
</head>
<body class="worker-body" onload="ajax()">

<header>

  <nav class="navbar navbar-expand-lg bg-primary navbar-light" style="background-color: #e3f2fd">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${name}">

            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" th:href="@{/worker/update-page}">Update</a></li>
              <li><a class="dropdown-item" th:href="@{/worker/delete/{id}(id=${worker.id})}">Delete the account</a></li>
              <li><a class="dropdown-item" th:href="@{/worker/logout}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</header>



<div class="flex-container-worker">

    <div class="flex-item-worker">

        <a class="terminal-a" th:href="@{/worker/work-page/{id}(id=${worker.id})}"> <img th:src="@{/files/images/terminal.svg}"  alt="terminal"></a>


    </div>

    <div class="flex-item-worker">
      <a th:href="@{/worker/show-forum}"> <img th:src="@{/files/images/chat.svg}" alt="chat"></a>
    </div>
</div>

<script th:src="@{/js/validate.js}"></script>
<script>

  var occupied = "[[${occupied}]]";
  if (occupied == 1)  {



  } else {



  }

</script>

</body>
</html>